* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {  
  display: flex; 
}  

.leftSide { 
  height: 100vh;
  width: 45vw;   
  background-color: pink; 
}   

.leftSideDecoration {
  width: 5vw;
  height: 100vh;
  background-color: #E0E0E0;
}

.RightSide { 
  width: 50vw;   
  height: 100vh;   
  background-color: powderblue; 
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  padding-top: 15%;
}  

.HospitalTitle {
  text-align: center;
  align-items: center;  
  justify-content: center; 
  background-color: powderblue;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5%;
  display: flex;
  gap: 3%;
}

.LoginDecoration {   
  border-bottom: 1px solid black;  
  width: 20vw;   
  height: 5vh;   
  display: flex;   
  justify-content: space-between;   
  align-items: center;   
  margin: auto;
}  

.LoginDecoration > .staff, .manager { 
  width: 100%;   
  height: 30px;   
  text-align: center;   
  align-items: center; 
  justify-content: center;
  padding-top: 2%;
  border-radius: 30%;
}  

.LoginDecoration > .staff:hover,.manager:hover { 
  cursor: pointer;
  scale: 1.2;
  transition: .7s;
  font-weight: bold;
}  

.LoginDecoration > .staff:active,.manager:active {
  background-color: pink;
  transition-duration: .3s;
  width: 100%;
  height: 70%;
}

.login { 
  width: 50%;  
  height: 15%;
  padding: 3% 0 0 0; 
  vertical-align: middle;   
  justify-content: space-between;   
  align-items: center;   
  margin: 0 auto;
  padding: 0 auto;
}  

.idContainer, .pwContainer { 
  width: 300px;   
  justify-content: center;   
  align-items: center;   
  margin: auto; 
  display: flex;
  padding: 1% ;
}  
  
.idText, .pwText {   
  width: 70%;   
  height: 3vh;   
  margin: 0 auto;   
}  

.loginBtnContainer {  
  width: 100%;   
  display: flex;   
  justify-content: center;   
  margin-top: 3%;  
}  

.loginBtn {   
  width: 22%;   
  height: 3.5vh;   
}  

.loginBtn:hover {   
  cursor: pointer; 
  scale: 1.1;
  transition: .7s;
  font-weight: bold;
}    