/* section */
.board-data-create {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* 헤더 */
.board-data-create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-data-create-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.board-data-create-header .btn {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.board-data-create-header .btn:hover {
  background-color: #ccc;
}

/* 폼 그룹 */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

/* button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
} */
