:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MainLayout */
main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 200px;
  height: 100%;
  background-color: #dedede;
}

nav > div.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #424242;
  border-bottom: 3px solid #cacaca;
}

nav > div.logo > span {
  color: #646cff;
}

nav > div:not(.logo) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

nav > div:not(.logo) > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

nav > div:not(.logo) > ul > li {
  list-style: none;
}

nav > div:not(.logo) > ul > li > a {
  text-decoration: none;
  color: #6d6d6d;
  display: flex;
  gap: 8px;
  font-size: 12px;
  padding: 7px 8px;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

nav > div:not(.logo) > ul > li > a:hover {
  background-color: #cacaca;
  border-radius: 6px;
}

nav > div:not(.logo) > ul > li > a > span {
  font-size: 12px;
}

/* App Contents */
#app {
  display: flex;
  flex-direction: column;
  padding: 36px;
  width: 100%;
}
