.container {
  width: 100%;
  height: 100%;
  padding: 50px 80px;
  color: black;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

/* h1 */
h1 {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}

.board__table-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px; /* 최소 높이 설정 */
}

.data-board {
  flex-grow: 1;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 0 auto; /* 테이블을 중앙 정렬 */
  table-layout: fixed; /* 셀의 크기 고정 */
}

.data-board td {
  padding: 10px 0px;
}

.data-board th {
  padding: 0px 10px 10px 10px;
}
.data-board thead th {
  font-weight: bold; /* 헤더 강조 */
  border-bottom: 1px solid black;
}

.pagination-container {
  display: flex;
  justify-content: center; /* 페이지네이션 가운데 정렬 */
  padding: 8px;
  margin-top: 30px;
}

/* 페이지네이션 버튼 */
.pagination-button {
  margin: 0 4px;
  padding: 8px 12px;
  cursor: pointer;
  height: 40px; /* 고정 높이 설정 */
  display: inline-flex; /* 버튼을 인라인으로 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  border-radius: 6px;
  font-size: 14px;
  color: #3a8c8c; /* 수정: 버튼 텍스트 색상 변경 */
}

.pagination-button.active {
  background-color: #3a8c8c; /* 수정: 활성화된 버튼 배경색 변경 */
  color: #ffffff; /* 수정: 활성화된 버튼 텍스트 색 변경 */
  font-weight: bold;
}

.pagination-button:hover {
  background-color: #e9f5f5; /* 수정: 버튼 호버 시 배경색 변경 */
  color: #3a8c8c; /* 수정: 텍스트 색상 유지 */
  font-weight: bold;
}

.profile-image {
  display: inline-flex;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50%;
  background-color: #777777;
  justify-content: center;
  align-items: center;
}
