h2 {font-size: 1.4rem;}
h3 {font-size: 1.5rem;}

/* Home Main */
#app {
  width: 100%;
  color: #000;
  background-color: #f4f4f4;
}

.home-main {
  width: 78%;
  height: 100%;
  font-family: "Noto Sans KR", serif;
  font-weight: 500;
  font-style: normal;
  padding: 1rem 3rem;
}

/*Home Main - Header*/
.home-main > header {
  display: flex;
  justify-content: space-between;
  min-width: 60rem;
}
.home-main > header > h1, .time {
  font-size: 2.25rem;
}
.home-main > header > .time {
  display: flex;
}
.home-main > header > .time > .time-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #a9a9a9;
  margin-right: 1rem;
  margin-top: .5rem;
}

/*Home Main - Contents*/
.contents {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}
.contents > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/*Profile*/
.profile {
  border-radius: 1.2rem;
  padding: 2.4rem 3rem;
  width: 33rem;
  height: 30rem;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.profile > .personal-info {
  display: flex;
  justify-content: space-between;
  gap:2rem;
}
.profile > .personal-info > .profile-photo-box {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 100px;
}
.profile > .personal-info > .info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem 0;
}
.profile > .personal-info > .info-box > .name {
  font-size: 2.6rem;
  font-weight: 600;
}
.profile > .personal-info > .info-box > .work {
  font-size: 1.4rem;
  font-weight: 500;
  color: #404040;
}
.profile > .personal-info > .info-box > .work-state {
  display: flex;
  gap: 1rem;
  color: #787878;
}
.profile > .personal-info > .info-box > .work-state > .state-icon {
  width: 1rem;
  height: 1rem;
  background-color: #b2b2b2;
  border-radius: 50%;
  margin: auto 0;
}
.profile > .work-time-check {
  border-top: 3px solid #E3E3E3;
  display: flex;
  justify-content: center;
  padding: 0 2.5rem;
  gap: 5.5rem;
}
.profile > .work-time-check > div {
  padding-top: 1.3rem;
  text-align: center;
  font-size: 1.2rem;
}
.profile > .work-time-check > div > p {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.profile > .work-time-button {
  display: inline;
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 6.5rem;
  background-color: #E3E3E3;
  border-radius: .4rem;
}

/*Notice*/
.contents > .section-top > .notice {
  padding: 1rem 0;
  width: 35rem;
  height: 30rem;
}
.notice >.notice-inner {
  display: flex;
  margin-top: 1.2rem;
  gap: 2rem;
}
.notice >.notice-inner > .gallery {
  width: 16rem;
  height: 23rem;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.notice >.notice-inner > .gallery >.img-box {
  width: 100%;
  height: 70%;
  background-color: #787878;
}
.notice >.notice-inner > .gallery > .text-box {
  padding: 1.2rem;
}
.notice >.notice-inner > .gallery > .text-box > p {
  margin-top: .6rem;
}

/*Doctor-schedule*/
.contents >.section-bottom > .doctor-schedule {
  border-radius: 1.2rem;
  padding: 2rem;
  width: 33rem;
  height: 15rem;
  background-color: #EAEAEA;
}

/*File*/
.contents >.section-bottom > .file {
  width: 35rem;
  height: 15rem;
  /* background-color: #EAEAEA; */
}
.file > ul{
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
.file > ul > li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid ;
  padding: .8rem 0;
}
.file > ul > li:last-child {
  border: none;
}