body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul>li {
  list-style-type: none;
}

.navDecoration {
  width: 5vw;
  height: 100vh;
  background-color: #E0E0E0; ;
}

.navWrap{ 
  width: 20vw;
  height: 100vh;
  background-color: pink;
}

.myPage {
  font-weight: bold;
  font-size: 300%;
  background-color: #E0E0E0; ;
  width: 20vw;
  height: 20vh;
}

.nurseImage {
  margin-left: 10%;
  display: flex;
}

.nurseInfo{
  background-color: #E0E0E0; ;
  width: 20vw;
  height: 20vh;
  margin: 5%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

ul>.nurseName {
  font-weight: bold;
  font-size: 250%;
}

.workTime {
  height: 10vh;
  width: 20vw;
  display: flex;
  background-color: #E0E0E0; 
  margin-right: 20%;
  padding-bottom: 1%;
  border-bottom: 1px solid gray; ;
}

.dutyStart, .dutyFinish{
  width: 40vw;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dutyStart{
  justify-content: space-between;
}

.myPageHeader {
  width: 100%;
  height: 30vh;
  background-color: powderblue;
  display: flex;          
  align-items: center;    
  gap: 2rem; 
}

.nurseName{
  font-weight: bold;
}

.info{
  display: flex;
  flex-wrap: wrap; 
  padding: 3% 0 0 1%;
  margin: 0 auto;
}

.firstDate,.secondDate {
 justify-content: space-around;
 display: flex;
 flex-grow: 1;
 margin-bottom: 5vh;
 margin-right: 4vh;
} 

.dataOfJoining, .rank, .email{
  background-color:#E0E0E0; ;
  width: 20vw;
  height: 25vh;
}

.phoneNumber, .HomeAddress, .birthDate {
  background-color:#E0E0E0; ;
  width: 20vw;
  height: 25vh;
}