body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

ul>li {
  list-style-type: none;
}

.navDecoration {
  width: 5vw;
  height: 100%;
  background-color: #E0E0E0; ;
}

.navWrap{ 
  width: 20vw;
  height: 100vh;
  background-color: pink;
}

.navHeader {
  font-size: 1.5rem;
  padding: 10% 0 10% 0;
  text-align: center;
  justify-content: center;
}

.myPageWrap {
  width: 80vw;
  height: 100vh;
}

.myPage {
  font-weight: bold;
  font-size: 300%;
  width: 20vw;
  height: 20vh;
}

.nurseImage {
  width: 20%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  background-color: #E0E0E0;
  border-radius: 50%;
  position: relative;
}

.nurseImageIcon {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: red;
  z-index: 1;
  position: absolute;
  margin-top:24vh;
  margin-left: 22vh;
}

ul> .nurseInfo{
  background-color: #E0E0E0; ;
  width: 200px;
  height: 20vh;
  margin: 10%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

ul>.nurseName {
  width: 100%;
  font-weight: bold;
  font-size: 250%;
}

.workTime {
  height: 10vh;
  width: 20vw;
  display: flex;
  background-color: #E0E0E0; 
  margin-left: 10%;
  padding-bottom: 1%;
  border-bottom: 1px solid gray; ;
}

.dutyStart, .dutyFinish{
  width: 40vw;
  margin: 10 0 0;
  padding-top: 8%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.startTime, .finishTime{
  margin-top: 5%;
}

.myPageHeader {
  width: 100%;
  height: 30vh;
  background-color: powderblue;
  display: flex;          
  align-items: center;    
  gap: 2rem; 
}

.nurseName{
  font-weight: bold;
}

.info{
  height: 50vh;
  display: flex;
  flex-wrap: wrap; 
  padding: 2% 0 0 0;
  align-items: center;
  justify-content: center;
}

.firstDate,.secondDate {
 justify-content: space-around;
 display: flex;
 flex-grow: 1;
 margin-right: 4vh;
} 

.dataOfJoining, .rank, .email, .phoneNumber, .HomeAddress, .birthDate{
  background-color:none; ;
  width: 20vw;
  height: 20vh;
  font-size: 150%;
  margin-top: 3%;
}

.detailInfo{ 
  padding-top: 3%;
}

.detailInfo::before {
  content: '';
  display: flex;
  border: 1px solid black;
  margin-bottom: 5%;
}

.titleDecaraiton::before {
  content: '';
  display: flex;
  border: 1px solid black;
  margin-bottom: 5%;
}
